/*
to do:
+ responsive: especially nav

fix:




*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: rgb(234, 80, 69);
  --gutter: .75mm;
}

@font-face {
  font-family: "title";
  src: url("helvetica-neue-lt-std-bdcn.otf");
}

@font-face {
  font-family: "text";
  src: url("helvetica-neue-lt-std-roman.otf");
}

.expandBlock {
  background-color: #f2db87;
  color: black;
  margin: 0;
  padding: 1em;
}

.expandOther {
  color: black;
  margin: 0;
  padding: 1em;
  background-color: #81b6c6;
}

.unfoldMe {
  z-index: 10;
}

#frontpage {
  position: relative;
  padding: 3em;
  height: 100vh;
  background-image: url('img/shelf.jpg');
  background-size: cover;
}

#redlogo {
  position: absolute;
  top: 9vh;
  right: 7vw;
}

svg {
  width: 50vw;
  margin-left: 40vw;
  padding: 1em;
}

.svgBox {
  background-color: rgba(240, 155, 148, .7);
  width: 55vw;
  height: 80vh;
  right: 5vw;
  position: absolute;
  z-index: -2;
}

.textBox {
  background-color: #4C374B;
  position: absolute;
  top: 40vh;
  left: 5vw;
  text-align: center;
  padding: 2em;
  color: white;
}

.textBox>h1,
.textBox>h2 {
  padding: .2em;
  color: white;
  margin: 0;
}

.textBox>h1 {
  font-size: 2.5em;
}

.textBox>h2 {
  font-size: 2em;
}

.textBox>h3 {
  font-size: 1.8em;
}

img.logo {
  position: absolute;
  right: 0;
  bottom: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
  margin: 1em;
}

a:hover {
  cursor: pointer;
}

nav {
  font-family: "title";
  position: relative;
  height: 70px;
  margin-top: 45px;
  text-align: center;
  padding: 30px;
  background-color: white;
  border-bottom: 1px solid #333;
  z-index: 11;
}

li.nav a:hover {
  color: var(--primary-color);
}

nav.show {
  background-color: #f3f3f3;
  border-bottom: none;
}

.kea-logo {
  position: absolute;
  left: 1em;
  font-size: 1.4em;
  opacity: 0;
}

/*
.kea-logo img {
  height: 3em;
  position: absolute;
  top: .5em;
  left: .5em;
  opacity: 0;
}
*/

.kea-logo.show {
  animation: showLogoSearch 1s ease forwards;
}

.search {
  position: absolute;
  right: 7em;
  bottom: 0;
  font-size: .7em;
  opacity: 0;
  padding-bottom: 2em;
}

.search.show {
  animation: showLogoSearch 1s ease forwards;
}

@keyframes showLogoSearch {
  to {
    opacity: 1;
  }
}

h1 {
  padding: 1%;
  text-align: center;
  /* grid-column: 1/-1; */
  font-size: 2.5em;
  font-family: "title", "arial", "sans-serif";
  margin-top: 1em;
  margin-bottom: 1em;
}

#floatright {
  grid-row-start: 2;
  grid-column-start: 4;
  justify-self: end;
  /* padding-top: 2em; */
  padding-left: 9em;
  font-size: 6em;
}

#floatleft {
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 5em;
}

h1:not(#first),
section.unfold a {
  color: var(--primary-color);
  margin-left: 7px;
}

h2,
h3,
li {
  font-family: "title", "arial", "sans-serif";
}

h3 {
  font-size: 1em;
  margin-bottom: 2em;
  padding: 1em;
}

#first~h2 {
  text-align: center;
}

p,
span {
  margin-top: 0;
  font-family: "text", "arial", "sans-serif";
  text-align: left;
  padding-left: 1em;
}

#coreAreas {
  position: relative;
  height: 100vh;
}

.collage {
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(img/coreareas_collage.png);
}

.opac {
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-color: rgba(250, 250, 250, .4);
}

.icon {
  position: absolute;
  width: 200px;
  height: 200px;
}

.communication {
  left: 5vw;
  background-image: url(img/commun-small.png);
  background-size: cover;
}

.interaction {
  left: 30vw;
  background-image: url(img/interac-small.png);
  background-size: cover;
}

.business {
  right: 30vw;
  background-image: url(img/business-small.png);
  background-size: cover;
}

.design {
  right: 5vw;
  background-image: url(img/design-small.png);
  background-size: cover;
}

.core-description {
  position: absolute;
  top: 30vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.each-corearea {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px auto;
}

.each-desc {
  grid-row-start: 2;
  /* padding: 20px; */
}

/* .coreText {
  padding-top: 3em;
} */

.each-desc h1 {
  font-size: 2em;
  height: 85px;
}

/*.inline {
  margin-top: -10.3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2em;
  grid-gap: 20px;
}*/

#programStructure {
  padding: 3em;
}

.wrapper {
  position: relative;
  margin: 3%;
}

.semester {
  margin-bottom: var(--gutter);
}

.semester>div:not(.details) {
  display: grid;
  grid-template-columns: 9em 1fr;
}

.blocks {
  padding: 0;
  height: auto;
  display: grid;
  grid-gap: var(--gutter);
}

.block {
  background-color: #e88779/*rgb(255, 180, 170)*/
  ;
  height: auto;
  padding: 20px 20px 0 20px;
}

.block h3 {
  font-size: 1.3em;
  margin-bottom: 20px;
}

.block span {
  font-size: .9em;
  color: white;
}

.block h5 {
  font-family: "title";
  font-size: 15pt;
  font-weight: bold;
}

.block p:not(.desc-inside):not(.x) {
  color: #fefefe;
  font-weight: bold;
  margin-left: 2em;
}

p.desc-inside {
  margin-top: 1em;
}

p.desc-inside str {
  font-family: "title";
}

.hide {
  display: none;
}

.details {
  height: auto;
  width: calc(100% + 30px);
  position: relative;
  left: -15px;
}

.expand {
  font-size: 2em;
  margin: 0;
  cursor: pointer;
}

.x {
  cursor: pointer;
  text-align: right;
  font-weight: bold;
  margin-right: 43px;
  grid-column: 1/-1;
  font-size: 20pt;
  position: relative;
  right: -28px;
}

.arrow {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 1em;
  float: right;
}

.arrow:after {
  content: '';
  display: inline-block;
  margin-left: 1em;
  margin-bottom: .2em;
  width: .5em;
  height: .5em;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  float: right;
}

.black:after {
  border-top: 0.1em solid #000;
  border-right: 0.1em solid #000;
}

.white:after {
  border-top: 0.1em solid #fff;
  border-right: 0.1em solid #fff;
}

#exams {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 300px auto auto auto 1fr;
}

.library {
  width: 80%;
  grid-column: 1/3;
  grid-row: 2/-1;
  z-index: 1;
}

.examgrid {
  grid-column: 4/-1;
  grid-row: 4/-3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  width: 50vw;
  top: 70vh;
  right: 4vw;
  z-index: 10;
  margin-left: 20em;
}

.examgrid>section {
  background-color: #E6BA19;
  height: 4em;
  cursor: pointer;
}

.examgrid>h3 {
  font-size: 2em;
}

#other {
  position: relative;
  /* padding: 3em; */
  /* padding-bottom: 3em; */
  margin: 1em;
  color: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto 300px auto auto auto 1fr;
}

.campus {
  height: auto;
  grid-column: 3/-1;
  grid-row: 2/-1;
  z-index: 1;
}

.campus img {
  width: 100%;
}

.otherGrid {
  grid-column: 1/5;
  grid-row: 3/-3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  z-index: 10;
}

.otherGrid>section {
  background-color: #084C61;
  cursor: pointer;
}

.othergrid>span {
  color: white;
}

#other p {
  opacity: .8;
}

section {
  /* padding: 1em; */
  height: 3em;
  overflow: hidden;
}

section.unfold {
  height: auto;
  ;
}

sub {
  cursor: pointer;
}

section.core-area {
  height: auto;
}

footer {
  background-color: #eee;
  padding: 30px;
  position: relative;
  top: 70px;
  font-family: "title", "arial", "sans-serif";
}

footer section {
  height: auto;
}

footer p {
  font-size: .9em;
  line-height: 1.7em;
}

footer img {
  width: 30px;
  cursor: pointer;
}

footer a {
  margin-left: 0;
}

footer h4 {
  font-size: 1.3em;
}

.bert {
  width: 110px;
  height: 110px;
  border-radius: 55px;
  border: 3px solid var(--primary-color);
  font-family: sans-serif;
  padding-top: 2.1em;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

a.bert-a {
  color: var(--primary-color);
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.center {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .wrapper {
    margin: 0 10%;
  }
  .contact_footer {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
  }
}